.main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1600px) {
    .main-page {
        padding-top: 30px;
    }
}

@media (max-width:500px) {
    .main-page {
        margin-left: 25px;
    }
}

@media (max-width:1120px) {
    .main-page {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
}