.image {
    width: 550px;
    height: 550px;
    border-radius: 5%;
    margin-right: 50px;
}

.imageCarousel {
    height: 600px;
    width: 75vw;
    overflow: scroll;
    display: flex;
}

.desc {
    text-align: center;
}

@media (max-width: 1500px) {
    .image {
        width: 515px;
        height: 515px;
        border-radius: 5%;
    }

    .imageCarousel {
        height: auto;
        width: auto;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desc {
        text-align: center;
    }
}

@media (max-width: 1440px) {
    .image {
        width: 440px;
        height: 60vh;
        border-radius: 5%;
    }

    .imageCarousel {
        height: 66vh;
        width: 65vw;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desc {
        text-align: center;
    }
}

@media (max-width: 1120px) {
    .image {
        height: 60vh;
        width: 55vw;
        border-radius: 5%;
    }

    .imageCarousel {
        max-height: auto;
        width: auto;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .desc {
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {
    .image {
        height: 480px;
        width: 340px;
        border-radius: 5%;
    }

    .imageCarousel {
        max-height: auto;
        width: auto;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .desc {
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 550px) {
    .image {
        height: 180px;
        width: 240px;
        border-radius: 5%;
    }

    .imageCarousel {
        max-height: auto;
        width: auto;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .desc {
        width: 200px;
        text-align: center;
        word-wrap: break-word;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-height: 1366px) {
    .thumbnail {
        margin-bottom: 40px;
    }
}

@media (min-height: 1024px) {
    .thumbnail {
        margin-bottom: 40px;
    }
}