.footer {
    display: flex;
    height: 40px;
    background-color: rgb(209, 178, 38);
    padding-top: 10px;
    margin-bottom: 15px;
}

.content {
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: space-between;
}